<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "Metamodele/clacsCL" 
       class = "metamodele.clacs.cl.ClPackage"
       genModel = "model/cl.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="cl" 
       class="metamodele.clacs.cl.util.ClResourceFactoryImpl" />
  </extension>

</plugin>
